{% extends 'estore/layout.html' %}

{% block body %}
    <script type="text/javascript">
        function Remove(id) {
            var elem = document.getElementById("block" + id);
            elem.parentNode.removeChild(elem);
            $.ajax({
                url: "/remove-from-cart/",
                type: "GET",
                data: {"item": "item"+id},
                success: function(data){
                }
            });
        }
    </script>

    <div class="container">
        <div class="row">
        {%for item in cart%}
            <div id="block{{item.id}}">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail" id="item_cont">
                        <div class="caption">
                            <h3>{{item.name}}</h3>
                            <p>price: {{item.price}}</p>
                            <button type="button" class="btn btn-default btn-sm" onclick="Remove({{item.id}})"">
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {%endfor%}
        </div>
    </div>

    <div class="col-md-12 text-center"> 
        <a href="/payment/cart/" class="btn btn-default active">Оплатить заказ</a>
    </div>
{% endblock %}
